---
layout: project
title: Chat
---

%p
  Please feel free to join us in our IRC channel: irc.freenode.net's #jbossoverlord.  Note that it's a "legacy"
  channel, back from when this project was a part of the Overlord family.  For now, we still use it as a central meeting
  place, however we may split off a new channel at some point.
%p
  We're almost always around and this is where most of the real-time discussions about the project take place.

%h2 IRC Client Recommendations
%ul
  %li
    Linux:
    %a(href="http://www.xchat.org/" target="_blank") XChat
  %li
    Windows:
    %a(href="http://www.hydrairc.com/" target="_blank") HydraIrc
  %li
    Mac:
    %a(href="http://colloquy.info/" target="_blank") Colloquy