---
layout: project
title: Contributing
description: Artificer is a 100% open source software/metadata repository. Learn how you can get involved!
---

.row
  .col-md-6
    %h2 Open!
    %p
      Artificer is completely open source, released under the
      %a(href="http://www.apache.org/licenses/LICENSE-2.0.html" target="_blank") Apache License, v2.0.
      So, not only is the code available, but it's completely free to use and modify! Nearly everything we do is online and public:
    %ul
      %li
        %a(href="https://github.com/ArtificerRepo/artificer" target="_blank") Code & Docs (GitHub)
      %li
        %a(href="https://issues.jboss.org/browse/ARTIF" target="_blank") Issue Tracker (JIRA)
      %li
        %a(href="https://developer.jboss.org/en/artificer" target="_blank") User Forum
      %li
        %a(href="https://developer.jboss.org/en/artificer/dev" target="_blank") Developer Forum
      %li
        %a(href="/chat.html" target="_blank") Real Time Chat (IRC)
  .col-md-6
    %h2 Types of Contributions
    %p
      Contributions of any type or scope are immensely helpful! Regardless if you help other users in the forum or
      chat room, improve documentation, improve this website, report/investigate bugs, or hack on the code, any type of
      contribution will drive the project forward. If you're interested, feel free to reach out to any team member on
      IRC or in the forums! Thanks for considering!