---
layout: project
title: Downloads
---

#accordionAnnounce.alert.alert-warning.alert-dismissible
  %button.close{"data-dismiss" => "alert", :type => "button"} &times;
  %h4.alert-heading
    .icon.icon-asterisk NOTE!
  %p
    This project was formally known as Overlord S-RAMP and was recently renamed.  Note that, up until version 1.0,
    this table mostly refers to the "S-RAMP" artifacts.

/ Main hero unit for a primary marketing message or call to action
.row
  .col-md-12
    %h1 Artificer Downloads
    .table-responsive
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th Version
            %th Distro
            %th Docker
            %th Documentation
            %th Change Log
        %tbody
          %tr
            %td
              Artificer 1.1.0-SNAPSHOT (IN DEVELOPMENT)
            %td
              %a(href="https://repository.jboss.org/nexus/content/repositories/snapshots/org/artificer/artificer-distro-assembly/1.1.0-SNAPSHOT/") Binary Distribution
            %td
              n/a
            %td
              %a(href="http://docs.jboss.org/artificer/1.1.0-SNAPSHOT/html/" target="_blank") HTML, multi-page
              |
              %a(href="http://docs.jboss.org/artificer/1.1.0-SNAPSHOT/html_single/" target="_blank") HTML, single-page
              |
              %a(href="http://docs.jboss.org/artificer/1.1.0-SNAPSHOT/pdf/" target="_blank") PDF
            %td
              %a(href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12311420&version=12326854" target="_blank") Changes
          %tr
            %td
              Artificer 1.0.0-SNAPSHOT (IN DEVELOPMENT)
            %td
              %a(href="https://repository.jboss.org/nexus/content/repositories/snapshots/org/artificer/artificer-distro-assembly/1.0.0-SNAPSHOT/") Binary Distribution
            %td
              n/a
            %td
              %a(href="http://docs.jboss.org/artificer/1.0.0-SNAPSHOT/html/" target="_blank") HTML, multi-page
              |
              %a(href="http://docs.jboss.org/artificer/1.0.0-SNAPSHOT/html_single/" target="_blank") HTML, single-page
              |
              %a(href="http://docs.jboss.org/artificer/1.0.0-SNAPSHOT/pdf/" target="_blank") PDF
            %td
              %a(href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12311420&version=12326865" target="_blank") Changes
          %tr
            %td
              Artificer 1.0.0.Beta1
            %td
              %a(href="http://downloads.jboss.org/artificer/artificer-1.0.0.Beta1.zip") Binary Distribution
            %td
              -#%a(href="https://registry.hub.docker.com/u/artificer/wildfly82/" target="_blank") artificer/wildfly82:1.0.0.Beta1
              Coming soon...
            %td
              %a(href="http://docs.jboss.org/artificer/1.0.0.Beta1/html/" target="_blank") HTML, multi-page
              |
              %a(href="http://docs.jboss.org/artificer/1.0.0.Beta1/html_single/" target="_blank") HTML, single-page
              |
              %a(href="http://docs.jboss.org/artificer/1.0.0.Beta1/pdf/" target="_blank") PDF
            %td
              %a(href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12311420&version=12326916" target="_blank") Changes
          %tr
            %td
              Artificer 1.0.0.Alpha2
            %td
              %a(href="http://downloads.jboss.org/artificer/artificer-1.0.0.Alpha2.zip") Binary Distribution
            %td
              %a(href="https://registry.hub.docker.com/u/artificer/wildfly82/" target="_blank") artificer/wildfly82:1.0.0.Alpha2
            %td
              %a(href="http://docs.jboss.org/artificer/1.0.0.Alpha2/html/" target="_blank") HTML, multi-page
              |
              %a(href="http://docs.jboss.org/artificer/1.0.0.Alpha2/html_single/" target="_blank") HTML, single-page
              |
              %a(href="http://docs.jboss.org/artificer/1.0.0.Alpha2/pdf/" target="_blank") PDF
            %td
              %a(href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12311420&version=12326865" target="_blank") Changes
          %tr
            %td
              Artificer 1.0.0.Alpha1
            %td
              %a(href="http://downloads.jboss.org/artificer/artificer-1.0.0.Alpha1.zip") Binary Distribution
            %td
              n/a
            %td
              %a(href="http://docs.jboss.org/artificer/1.0.0.Alpha1/html/" target="_blank") HTML, multi-page
              |
              %a(href="http://docs.jboss.org/artificer/1.0.0.Alpha1/html_single/" target="_blank") HTML, single-page
              |
              %a(href="http://docs.jboss.org/artificer/1.0.0.Alpha1/pdf/" target="_blank") PDF
            %td
              %a(href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12311420&version=12326341" target="_blank") Changes
          %tr
            %td
              Overlord S-RAMP 0.7.0.Final
            %td
              %a(href="http://downloads.jboss.org/overlord/sramp/s-ramp-0.7.0.Final.zip") Binary Distribution
            %td
              n/a
            %td
              %a(href="http://docs.jboss.org/overlord/sramp/0.7.0.Final/html/" target="_blank") HTML, multi-page
              |
              %a(href="http://docs.jboss.org/overlord/sramp/0.7.0.Final/html_single/" target="_blank") HTML, single-page
              |
              %a(href="http://docs.jboss.org/overlord/sramp/0.7.0.Final/pdf/" target="_blank") PDF
            %td
              %a(href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12311420&version=12325851" target="_blank") Changes
          %tr
            %td
              Overlord S-RAMP 0.6.0.Final
            %td
              %a(href="http://downloads.jboss.org/overlord/sramp/s-ramp-0.6.0.Final.zip") Binary Distribution
            %td
              n/a
            %td
              %a(href="http://docs.jboss.org/overlord/sramp/0.6.0.Final/html/" target="_blank") HTML, multi-page
              |
              %a(href="http://docs.jboss.org/overlord/sramp/0.6.0.Final/html_single/" target="_blank") HTML, single-page
              |
              %a(href="http://docs.jboss.org/overlord/sramp/0.6.0.Final/pdf/" target="_blank") PDF
            %td
              %a(href="https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12311420&version=12319965" target="_blank") Changes
          %tr
            %td
              Overlord S-RAMP 0.5.0.Final
            %td
              %a(href="http://downloads.jboss.org/overlord/sramp/s-ramp-0.5.0.Final.zip") Binary Distribution
            %td
              n/a
            %td
              %a(href="http://docs.jboss.org/overlord/sramp/0.5.0.Final/html/" target="_blank") HTML, multi-page
              |
              %a(href="http://docs.jboss.org/overlord/sramp/0.5.0.Final/html_single/" target="_blank") HTML, single-page
              |
              %a(href="http://docs.jboss.org/overlord/sramp/0.5.0.Final/pdf/" target="_blank") PDF
            %td
              %a(href="http://red.ht/1uGGZ3P" target="_blank") Changes
          %tr
            %td
              Overlord S-RAMP 0.4.0.Final
            %td
              %a(href="http://downloads.jboss.org/overlord/sramp/s-ramp-0.4.0.Final.zip") Binary Distribution
            %td
              n/a
            %td
              %a(href="http://docs.jboss.org/overlord/sramp/0.4.0.Final/html/" target="_blank") HTML, multi-page
              |
              %a(href="http://docs.jboss.org/overlord/sramp/0.4.0.Final/html_single/" target="_blank") HTML, single-page
              |
              %a(href="http://docs.jboss.org/overlord/sramp/0.4.0.Final/pdf/" target="_blank") PDF
            %td
              %a(href="http://red.ht/1o859jI" target="_blank") Changes
          %tr
            %td
              Overlord S-RAMP 0.3.0.Final
            %td
              %a(href="http://downloads.jboss.org/overlord/sramp/s-ramp-0.3.0.Final.zip") Binary Distribution
            %td
              n/a
            %td
              %a(href="http://docs.jboss.org/overlord/sramp/0.3.0.Final/html/" target="_blank") HTML, multi-page
              |
              %a(href="http://docs.jboss.org/overlord/sramp/0.3.0.Final/html_single/" target="_blank") HTML, single-page
              |
              %a(href="http://docs.jboss.org/overlord/sramp/0.3.0.Final/pdf/" target="_blank") PDF
            %td
              %a(href="http://red.ht/1rXfz8f" target="_blank") Changes

/ Example Content
