---
layout: project
title: Artificer
---

#accordionAnnounce.alert.alert-warning.alert-dismissible
  %button.close{"data-dismiss" => "alert", :type => "button"} &times;
  %h4.alert-heading
    .icon.icon-asterisk This website is a work-in-progress!
  %p
    This project was formally known as Overlord S-RAMP and was recently renamed.  Until the process is complete,
    %a.alert-link(href="http://www.projectoverlord.io/s-ramp/") please see the old website!

= partial( page.jumbotron_partial.nil? ? 'jumbotron.html.haml' : page.jumbotron_partial , { "real_page" => page } )

