---
layout: project
title: Software Artifact, Metadata, and Information Repository (Open Source)
---

#accordionAnnounce.alert.alert-warning.alert-dismissible
  %button.close{"data-dismiss" => "alert", :type => "button"} &times;
  %h4.alert-heading
    .icon.icon-asterisk NOTE!
  %p
    This project was formally known as Overlord S-RAMP and was recently renamed!

= partial( page.jumbotron_partial.nil? ? 'jumbotron.html.haml' : page.jumbotron_partial , { "real_page" => page } )

.row
  .col-md-6
    %h2
      Artificer
    %p
      All individuals, teams, and organizations tend to have a tangled mess of "stuff".  That bucket can include bits of
      information, logical metadata, and physical files.  Those "artifacts" are almost never isolated in nature.  They're all
      connected and inter-dependent, but the relationships can be difficult to understand.
    %p
      In the software development world, this is an especially important problem to solve.  The development process
      often spews out a huge amount of artifacts, needed for future analysis and actions.  Without the ability to
      analyze how the information, artifacts, and content within the artifacts are connected, development
      processes become difficult, at best, or nearly impossible, at worst.  Further, it's not enough to simply know how the
      bits are related.  How do you correlate the artifacts/metadata with, for example, service endpoints,
      the responsible teams/individuals, and change histories?
    %p
      In steps Artificer.  Artificer is a software artifact, logical metadata, and information repository.  It consists of a
      common data model, multiple interfaces, useful tools, and extensibility.  In less words?
      %strong It's a powerful platform that untangles everything.
    %p
      Artificer is 100% open source -- contributions are welcome!
      %a(href="/contribute.html") Click here
      to find out how to get involved!
  .col-md-6
    %h2
      Use Cases
    %ul
      %li Artifact, metadata, and information repository (publish and consume)
      %li Software lifecycle management and workflows
      %li Impact analysis
      %li Discovery and reuse
      %li Relationship/dependence comprehension and hierarchical analysis
      %li Common configuration and policy management
      %li Data auditing
      %li Other "out of the box" uses
    %h2
      S-RAMP
    %p
      Artificer implements and is fully compliant with the
      %a(href="https://www.oasis-open.org/committees/tc_home.php?wg_abbrev=s-ramp" target="_blank") OASIS S-RAMP specification
      (defines major portions of the data model, query language, and an Atom REST binding).

#equalHeightsB.row.equalHero
  .col-md-3
    .row
      %h3
        Repository
      %p
        Store all your binaries, files, metadata, and information in this easy to use and extensible repository. Automatically expand and derive sub-artifacts.
  .col-md-3
    .row
      %h3
        Untangling
      %p
        Utilize the powerful XPath-based query language, hierarchical classifiers (ontologies), artifact relationships, custom properties, and built-in metadata.
  .col-md-3
    .row
      %h3
        Easy Integration
      %p
        Take advantage of out-of-the-box deployment and dependency integration with Maven. Design your own interactions using the included Java client.
  .col-md-3
    .row
      %h3
        Multiple Interfaces
      %p
        Easily interact with the repository using the S-RAMP specificaton mandated Atom REST API. Browse the contents of the repository using either the feature-rich web UI or the command line client.

.row
  .col-md-4
    %section
      %h4 Latest Tweets
      <a height="600" class="twitter-timeline" data-chrome="noheader nofooter transparent" data-dnt="true" href="https://twitter.com/ArtificerRepo"  data-widget-id="553282959193964544">Tweets by @ArtificerRepo</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  .col-md-4
    %section
      %h4 Latest Blog Posts
      #blogDiv
      :javascript
          $(document).ready(function () {
            $('#blogDiv').FeedEk({
              FeedUrl: 'http://planet.jboss.org/xml/artificer?type=atom',
              MaxCount: 10,
              ShowDesc: false,
              CharacterLimit: 200
            });
          });
  .col-md-4
    %section
      .twocol_right{:style => "text-align:right;"}
        #jiraDiv
        :javascript
              $(document).ready(function () {
                processJiraWidget(  {
                  jqlQuery : 'project = ARTIF AND (status = Open OR status = Reopened)',
                  maxResults : 3,
                  startAt : 0,
                  divId : 'jiraDiv',
                  title : 'Jira Issues'
                })
              });