---
layout: project
title: Open Source Artifact Repository
---

#accordionAnnounce.alert.alert-warning.alert-dismissible
  %button.close{"data-dismiss" => "alert", :type => "button"} &times;
  %h4.alert-heading
    .icon.icon-asterisk NOTE!
  %p
    This project was formally known as Overlord S-RAMP and was recently renamed!

= partial( page.jumbotron_partial.nil? ? 'jumbotron.html.haml' : page.jumbotron_partial , { "real_page" => page } )

.row
  .col-md-6
    %h2
      Artificer
    %p
      Artificer is an artifact and metadata repository comprised of a common data model, multiple interfaces, and powerful tools.
      It implements the
      %a(href="https://www.oasis-open.org/committees/tc_home.php?wg_abbrev=s-ramp" target="_blank") OASIS S-RAMP specification
      which defines the data model, query language, and an Atom REST binding.
    %p
      In addition to implementing the spec, Artificer provides a suite of powerful, flexible, and extensible capabilities, described below.
    %p
      Artificer is 100% open source -- contributions are welcome! Click here to find out how to get involved!
  .col-md-6
    %h2
      Use Cases
    %ul
      %li Publish/consume artifacts and services (both logical and physical)
      %li Artifact lifecycle management
      %li Thin interface for governance workflows
      %li Understand and manage artifact relationships
      %li Service discovery and re-use
      %li Impact discovery and analysis
      %li Store and manage configurations, policies, etc.
      %li Manage service information (performance, availability, etc.)

#equalHeightsB.row.equalHero
  .col-md-3
    .row
      %h3
        Artifact Repository
      %p
        Store all your binaries, files, and metadata in this easy to use and extensible repository. Automatically expand and derive sub-artifacts.
  .col-md-3
    .row
      %h3
        Untangling
      %p
        Utilize the powerful XPath-based query language, hierarchical classifiers (ontologies), artifact relationships, custom properties, and built-in metadata.
  .col-md-3
    .row
      %h3
        Easy Integration
      %p
        Take advantage of out-of-the-box deployment and dependency integration with Maven. Design your own interactions using the included Java client.
  .col-md-3
    .row
      %h3
        Multiple Interfaces
      %p
        Easily interact with the repository using the S-RAMP specificaton mandated Atom REST API. Browse the contents of the repository using either the feature-rich web UI or the command line client.

.row
  .col-md-4
    %section
      %h4 Latest Tweets
      <a height="600" class="twitter-timeline" data-chrome="noheader nofooter transparent" data-dnt="true" href="https://twitter.com/ArtificerRepo"  data-widget-id="553282959193964544">Tweets by @ArtificerRepo</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  .col-md-4
    %section
      %h4 Latest Blog Posts
      #blogDiv
      :javascript
          $(document).ready(function () {
            $('#blogDiv').FeedEk({
              FeedUrl: 'http://planet.jboss.org/xml/artificer?type=atom',
              MaxCount: 10,
              ShowDesc: false,
              CharacterLimit: 200
            });
          });
  .col-md-4
    %section
      .twocol_right{:style => "text-align:right;"}
        #jiraDiv
        :javascript
              $(document).ready(function () {
                processJiraWidget(  {
                  jqlQuery : 'project = ARTIF AND (status = Open OR status = Reopened)',
                  maxResults : 3,
                  startAt : 0,
                  divId : 'jiraDiv',
                  title : 'Jira Issues'
                })
              });