---
layout: project
title: Presentations
---

%ul
  %li
    %a(href="/slides/artificer/overview.html" target="_blank")
      Untangling Enterprise Software Development: Information, Discovery, Analysis, and the Artificer Project
  %li
    %a(href="/slides/general/opensource-getting-involved.html" target="_blank")
      Getting Involved in Open Source: Responsible Users and Effective Contributors