.row.text-center
  &copy; Copyright 2015 Red Hat, Inc.  Artificer code is open source and released under
  %a{:href => "http://www.apache.org/licenses/LICENSE-2.0.html", :target => "_blank"} Apache License, v2.0.
  %a(href="http://www.jboss.org/")<
    %img(src="#{site.jborg_images_url}/common/jbossbadge.png")
  %a(href="http://www.redhat.com/")<
    %img(src="#{site.jborg_images_url}/common/redhat_logo.png")
