/ Main hero unit for a primary marketing message or call to action
.jumbotron
  .row
    %h1 Metadata and Software Artifact Repository
    %p
      Artificer is a metadata and software artifact repository, comprised of a common data model, multiple interfaces, powerful tools, and exensibility.
      100% Open source.
      Untangle all the things!
