/ Main hero unit for a primary marketing message or call to action
.jumbotron
  .row
    %h1 Artificer: Untangle your software artifacts!
    %p Artificer is a software artifact repository comprised of a common data model, multiple interfaces, powerful tools, and exensibility. 
    %p
      %a.btn.btn-success.b
        Get Started
      %a.btn.btn-default.b
        Download
