/ Main hero unit for a primary marketing message or call to action
.jumbotron
  .row
    %h1 Artificer: Software Artifact, Metadata, and Information Repository
    %p
      Artificer is a software artifact, logical metadata, and information repository, comprised of a common data model,
      multiple interfaces, powerful tools, and extensibility. 100% Open source. Untangle all the things!
