/ Main hero unit for a primary marketing message or call to action
.jumbotron
  .row
    %h1 Artificer: Untangle your software artifacts!
    %p
      Artificer is an artifact and metadata repository comprised of a common data model, multiple interfaces, powerful tools, and exensibility.
