%footer.container
  .row
    .col-md-2.col-md-offset-1
      %h4 Navigate
      %ul.list-unstyled
        %li
          %a{:href => "/index.html", :title => "Home"} Home
        %li
          %a{:href => "/download.html", :title => "Download"} Downloads
        %li
          %a{:href => "http://docs.jboss.org/artificer", :target => "_blank", :title => "Docs"} Docs
    .col-md-2
      %h4 Get Involved
      %ul.list-unstyled
        %li
          %a{:href => "/contribute.html", :title => "Contribute"} Contribute
        %li
          %a{:href => "https://issues.jboss.org/browse/ARTIF", :target => "_blank", :title => "Feature/Bug Tracker"} Feature/Bug Tracker
        %li
          %a{:href => "/chat.html", :title => "Chat"} Chat
        %li
          %a{:href => "https://developer.jboss.org/en/artificer/dev", :target => "_blank", :title => "Developer Forum"} Developer Forum
    .col-md-2
      %h4 Follow Us
      %ul.list-unstyled
        %li
          %a{:href => "https://twitter.com/ArtificerRepo", :target => "_blank", :title => "@ArtificerRepo"} @ArtificerRepo
        %li
          %a{:href => "https://developer.jboss.org/en/artificer/blog", :target => "_blank", :title => "Blog"} Blog
        %li
          %a{:href => "https://developer.jboss.org/en/artificer", :target => "_blank", :title => "User Forum"} User Forum
    .col-md-3.col-md-offset-1
      %p
        The
        %a{:href => "https://github.com/ArtificerRepo/bootstrap-community/tree/Artificer", :target => "_blank"}
          %strong Artificer website
        is also open source! If you'd like to help us by improving it,
        %a{:href => "https://github.com/ArtificerRepo/bootstrap-community/tree/Artificer", :target => "_blank"}
          %strong fork, hack, and submit a pull request
        (use the "Artificer" branch). Contributions are extremely appreciated!
